@page "/emails"
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims

<EditForm Model="email" OnValidSubmit="AddEmail" class="card p-4 shadow-sm mb-4" style="max-width: 500px; width: 100%;">
    <DataAnnotationsValidator />
    <h4 class="mb-3">Add Email</h4>
    <div class="row">
        <div class="col-9">
            <label class="form-label">Address</label>
            <InputText @bind-Value="email.Address" class="form-control" />
            <ValidationMessage For="@(() => email.Address)" class="text-danger" />
            <p class="text-danger">@message</p>
        </div>

        <div class="d-flex align-items-center justify-content-center col">
            <button type="submit"
                    class="btn btn-primary"
                    style="height: 50px;">
                <i class="bi bi-plus-lg"></i>
                Add
            </button>
        </div>
    </div>
</EditForm>

<h3 class="mb-3">Emails</h3>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    @foreach (Email e in emails)
    {
        <div class="col">
            <div class="card p-2 d-flex flex-row justify-content-between align-items-center">

                <InputText @bind-Value="e.Address" class="form-control me-2"
                           disabled="@(e.Id != editingEmailId)" />

                <button class="btn btn-primary btn-sm me-2"
                        @onclick="() => ToggleEdit(e)">
                    <i class="bi @(e.Id == editingEmailId ? "bi-check-lg" : "bi-pencil")"></i>
                </button>

                <button class="btn btn-danger btn-sm"
                        @onclick="() => DeleteOrCancel(e)">
                    <i class="bi @(editingEmailId == e.Id ? "bi-x" : "bi-trash")"></i>
                </button>               
            </div>
        </div>
    }
</div>

@code {
    Email email = new Email();
    string message = String.Empty;
    List<Email> emails = new List<Email>();
    Guid? editingEmailId = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string? token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
            if (string.IsNullOrEmpty(token))
            {
                NavigationManager.NavigateTo("/");
                return;
            }

            JwtSecurityTokenHandler? handler = new JwtSecurityTokenHandler();
            JwtSecurityToken? jwt = handler.ReadJwtToken(token);
            string? role = jwt.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
            if (role != "Admin")
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }

    protected override void OnInitialized()
    {
        emails = db.Emails.ToList();
    }
    
    async Task AddEmail()
    {
        bool exists = db.Emails.Any(e => e.Address == email.Address);
        if (exists)
        {
            message = "Email already exists";
            return;
        }
        message = String.Empty;
        await db.Emails.AddAsync(email);
        await db.SaveChangesAsync();
        email = new Email();
        emails = db.Emails.ToList();
    }

    
    async Task DeleteOrCancel(Email e)
    {
        if(editingEmailId == e.Id)
        {
            editingEmailId = null;
        }
        else
        {
            db.Emails.Remove(e);
            await db.SaveChangesAsync();
            emails = db.Emails.ToList();
        }
    }

    async Task ToggleEdit(Email e)
    {
        if (editingEmailId == e.Id)
        {
            db.Emails.Update(e);
            await db.SaveChangesAsync();
            editingEmailId = null;
        }
        else
        {
            editingEmailId = e.Id;
        }
    }
}